<!DOCTYPE html>
<html>
	<head>
		<title>Nhà Tam Giác - Homewear</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">         
    	<link rel="stylesheet/less" type="text/css" href="{{url_for('static',filename='style.less')}}" /> 
    	<link rel="stylesheet/less" type="text/css" href="{{url_for('static',filename='slick.less')}}" /> 		 
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>   
    	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script> 
		<script src="{{url_for('static',filename='scripts/luxy.js')}}" charset="utf-8"></script>
		<script src="{{url_for('static',filename='scripts/jquery.easing.1.3.js')}}" charset="utf-8"></script>
		<script src="{{url_for('static',filename='scripts/tinymce/tinymce.min.js')}}" charset="utf-8"></script>
		<script src="{{url_for('static',filename='scripts/common-functions.js')}}" charset="utf-8"></script>

		<script type='text/javascript'>

			tinymce.init({
				selector: '.tinymce-area',
				mode: 'textareas',
				height: 600,
				plugins: [
				'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
				'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
				'table emoticons template paste help'
				],
				language: 'vi',
				toolbar: 'undo redo | styleselect | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify | outdent indent'
			});
		</script>
	</head>
	<body>
		<div class='contents-wrapper'>

			<div id='luxy'>

				<header class='search-bar'>
					<div class='search-bar-container'>
						<div class='logo-container'>
							<img src="{{url_for('static',filename='images/logo.png')}}">
						</div>
						<div class='title-container'>
							<p>Nhà Tam Giác</p>
						</div>
						<div class='search-box'>
							<input type='text' placeholder='Tìm kiếm sản phẩm...'>
						</div>
						<div class='search-glass'>
						</div>
						<div class='checkout-cart'>
							<a class='cart-label' href='/payment'>
							   	Giỏ hàng 
								<span class='cart-count'>{{cart_count}}</span>
							</a>
						</div>
					</div>
				</header>
				<header class='navigation-bar'>
					<div class='nav-bar-container'>
						<div class='nav-choice-container'>

							<div class='nav-choice-text'>
								<a href='/'>Trang chủ</a>
							</div>
							<div class='nav-choice-text'>
								<a href='/contact'>Liên hệ</a>
							</div>
							<div class='nav-choice-text'>
								<a href='/report'>Báo cáo</a>
							</div>
							<div class='nav-choice-text'>
								<a href='/help'>Hướng dẫn mua hàng</a>
							</div>


							{% if current_user == null %}
							<div class='nav-choice-text'>
								<a href='/login'>Đăng nhập</a>
							</div>
							{% endif %}
							
							{% if current_user != null %}
								{% if current_user.uPermission == 'admin' %}
									<div class='nav-choice-text'>
										<a href=''>Tạo sản phẩm mới</a>
								</div>
							{% endif %}
							{% endif %}
							{% if current_user != null %}
							<div class='nav-choice-text'>
								<a href='/logout'>Đăng xuất</a>
							</div>
							{% endif %}

						</div>
					</div>
				</header>

				<section class='payment-section'>
					<div class='wrapper'>
						<h3>Thanh toán giỏ hàng</h3>
						{% if cart|length == 0%}
						<h3 style='border-bottom: none; text-align: center; margin: 0; height: 200px; padding: 80px 0; font-size: 28px;'>Không có món hàng nào trong giỏ.</h3>
						{% endif %}
						<div class='payment-product-container'>


							{% for id, property in cart %}
							<div class='product'>

								<div class='avatar'>
									<img src='/product/{{id}}/img/1'>
								</div>

								<div class='info-container'>
									<a href='/product/{{id}}' class='title'>{{property.name}}</a>

									<div class='button-pusher'>
										<button class='erase'>
											<span>Xóa sản phẩm</span>
										</button>

										<div class='quantity'>
											<button type="button" class="quantity-plus"></button>
											<input type="number" value="{{property.qty}}" min="1" max="100" class="quantity-input">
											<button type="button" class="quantity-minus"></button>
										</div>
									</div>
								</div>
								<h3 class='price'><span>x</span>{{property.price.toLocaleString().replace(r/,/g, '.')}} VNĐ</h3>
							</div>
							{% endfor %}
						</div>

						{% if cart|length != 0 %}
						<div class='payment-total'>
							<h3>Thành tiền: <span>{{total.toLocaleString().replace(r/,/g,'.')}} VNĐ</span></h3>

							<form class='payment-information' action='/payment/submit' method='post'>

								<div class='payment-options'>

									<div class='payment-delivery-type'>
										<h3>1. Hình thức giao hàng</h3>
										<div class='option-container-border'>
											<label class='option-container'>
												Giao nhanh
												<input type='radio' checked='checked' name='dtype' value='0'>
												<span class='option-radio-button'></span>
											</label>

											<label class='option-container'>
												Giao tiêu chuẩn
												<input type='radio' name='dtype' value='1'>
												<span class='option-radio-button'></span>
											</label>
										</div>

									</div>

									<div class='payment-type'>
										<h3>2. Hình thức thanh toán</h3>

										<div class='option-container-border'>
											<label class='option-container'>
												Thanh toán tiền mặt khi nhận hàng
												<input type='radio' checked='checked' name='ptype' value='0'>
												<span class='option-radio-button'></span>
											</label>

											<label class='option-container'>
												Thanh toán bằng thẻ ngân hàng
												<input type='radio' name='ptype' value='1'>
												<span class='option-radio-button'></span>
											</label>
										</div>


									</div>

								</div>

								<div class='payment-customer-information'>
									<div class='background-top'>
										Thông tin khách hàng
									</div>
									<div class='payment-field'>
										<label>Tên khách hàng</label>
										<input name='username' class='payment-info-input' type='text' required='true' value='{{current_user.username}}'>
									</div>


									<div class='payment-field'>
										<label>Địa chỉ email</label>
										<input name='email' class='payment-info-input' type='text' required='true' value='{{current_user.email}}'>
									</div>

									<div class='payment-field'>
										<label>Số điện thoại</label>
										<input name='phone' class='payment-info-input' type='text' required='true'>
									</div>

									<div class='payment-field'>
										<label>Địa chỉ giao hàng</label>
										<input name='address' class='payment-info-input' type='text' required='true'>
									</div>

									<button type='submit' class='payment-button'> Đặt hàng</button>

								</div>

								


							</form>
						</div>
						{% endif %}
					</div>
				</section>

				<section class='contact-section'>
					<div class='wrapper'>
						<div class='shipping-container'>
							<h3>GIAO HÀNG COD TOÀN QUỐC</h3>
						</div>
						<div class='contact-container'>
							<h3>LIÊN HỆ</h3>
						</div>
						<div class='shipping-info'>
							<span>Hiện tại shop hỗ trợ ship cod trên toàn quốc, sau khi đặt hàng shop sẽ gọi cho bạn để xác nhận.</span>
							<span>Shop hiện tại chỉ bán hàng online nên bạn có thể gọi cho shop hoặc nhắn tin qua fanpage để đuợc hỗ trợ thêm.</span>
						</div>
						<div class='contact-info'>
							<div class='location'><span>Địa chỉ: xxx/xxx XXX, P.XXX, Q.XXX, Tp. Hồ Chí Minh.</span></div>
							<div class='phone'><span>Điện thoại: 090xxxxxxxxx.</span></div>
							<div class='email'><span>Email: email@nhatamgiac.com</span></div>
						</div>
					</div>
				</section>

				<section class='footer-section'>
					<div class='wrapper'>
						<div class='logo-container'></div>
						<div class='social-media-container'>
							<div class='facebook'><a href="https://www.facebook.com/nhatamgiac/"></a></div>
							<div class='instagram'><a href=""></a></div>
							<div class='gmail'><a href=""></a></div>
						</div>
					</div>
				</section>
		</div>
		<script charset="utf-8">
        	luxy.init();
    	</script>
	</body>
</html>
