.tip-yellowsimple {
	z-index:1000;
	text-align:left;
	border:1px solid #adb9c7;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#000;
	background-color:#f5f8fa;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-yellowsimple .tip-inner {
	font-family: 'Roboto';
	font-size: 20px;
	color: #45434a;
	font-weight: 300;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat;
}
.tip-yellowsimple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat -9px 0;
}
.tip-yellowsimple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat -18px 0;
	filter: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(687%) hue-rotate(174deg) brightness(100%) contrast(96%);
}
.tip-yellowsimple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat -27px 0;
}

.tip-yellowsimple .editable-input input {
	padding-left: 6px;
	border: 1px solid #45434a;
	border-radius: 5px;
	background-color: #eff0f5;
	font-size: 18px;
	font-weight: 300;
	font-family: Roboto;
}

.tip-yellowsimple .editable-submit {
	border: 1px solid #45434a;
	border-radius: 5px;
	background-color: #eff0f5;
	background-image: url(tick.png);
	background-size: 12px 12px;
	width: 24px;
	height: 24px;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: 50%;
}

.tip-yellowsimple .editable-cancel {
	border: 1px solid #45434a;
	border-radius: 5px;
	background-color: #eff0f5;
	background-image: url(xmark.png);
	background-size: 10px 10px;
	width: 24px;
	height: 24px;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: 50%;
}

.tip-yellowsimple label {
	display: block;
	padding-bottom: 4px;
}
